@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: hsl(218, 23%, 16%);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: 'Manrope', sans-serif;
}
.box{
    padding: 30px;
    width: 500px;
    background-color:  hsl(217, 19%, 24%);
    text-align: center;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    border-radius: 16px;
    position: relative;
}
.box span{
    color: hsl(150, 100%, 66%);
    text-transform: uppercase;
}
.box p{
    margin-top: 25px;
    margin-bottom: 25px;
    color: hsl(193, 38%, 86%);
    font-size: 20px;
}
picture img{
    margin-bottom: 30px;
}
.dice{
    background-color: hsl(150, 100%, 66%);
    width: 50px;
    height: 50px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -25px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    cursor: pointer;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.dice:hover{
    box-shadow: 0px 0px 30px hsl(150, 100%, 66%);
}
@media (max-width: 520px) {
    .box{
        width: 350px;
        padding: 15px;
    }
}